@font-face {
  font-family: "Merriweather";
  src: url("../assets/fonts/Merriweather-Bold.ttf");
  font-weight: 700;
}

@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-VariableFont_slnt,wght.ttf") format("truetype-variations");
  font-weight: 400 700;
}

:root {
  --color-black: #000000;
  --color-gold: #bdae82;
  --color-white: #ffffff;
  --font-large: 60px;
  --font-medium: 40px;
  --font-small: 20px;
  --line-height-std: 2.0;
}

@media screen and (max-width: 768px) {
  :root {
    --font-large: 32px;
    --font-medium: 32px;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth; 
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  font-family: 'Inter', sans-serif;
  color: var(--color-white);
  background-color: var(--color-black);
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 60px;
  }
}

.header-container {
  display: flex;
  align-items: center;
  padding: 20px;
  background: url("../assets/img/header-bg.jpg");
  background-repeat: no-repeat;
  background-position: center 0;
}

@media screen and (max-width: 768px) {
  .header-container {
    padding: 20px 64px 20px 60px;
    background-size: auto 620px;
    background-position: -5px -31px;
  }
}

.header-logo {
  width: 50px;
  height: 50px;
  background-image: url("../assets/svg/header-logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: 0.3s;
}

.header-logo:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
  cursor: pointer;
}

.nav {
  margin-left: auto;
}

@media screen and (max-width: 768px) {
  .nav {
    display: none;
    /* position: absolute;
    top: 0;
    left: 50%;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5); */
  }
}

.nav-list {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0 15px;
}  

.nav-link {
  padding: 0 15px;
  font-size: var(--font-small);
  line-height: 2.5;
  text-decoration: none;
  color: var(--color-white);
  transition: color 0.3s;
}

.nav-link:hover {
  color: var(--color-gold);
}

.language-switch {
  font-size: var(--font-small);
  font-weight: 700;
  line-height: 2.5;
  letter-spacing: 1px;
}

@media screen and (max-width: 768px) {
  .language-switch {
    margin-left: auto;
    margin-right: 20px;
    word-spacing: 11px;
    letter-spacing: 0px;
  }
}

.lang:hover {
  cursor: pointer;
}

.lang-selected {
  color: var(--color-gold);
}

.hamburger {
  height: 50px;
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
}

.hamburger-line {
  width: 50px;
  height: 3px;
  background-color: var(--color-white);
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .hamburger.open .hamburger-line:nth-child(2) {
    opacity: 0;
  }

  .hamburger.open .hamburger-line:nth-child(1) {
    transform: translateY(13px) rotate(45deg);
  }

  .hamburger.open .hamburger-line:nth-child(3) {
    transform: translateY(-13px) rotate(-45deg);
  }
}

.hero-container {
  height: 820px;
  padding-top: 160px;
  padding-left: 80px;
  background-image: url("../assets/img/header-bg.jpg");
  background-repeat: no-repeat;
  background-position: center -90px;
}

@media screen and (max-width: 768px) {
  .hero-container {
    height: 500px;
    padding: 78px 60px 152px;
    background-size: auto 620px;
    background-position: -5px -121px;
  }
}

.section-hero {
  width: 500px;
}

@media screen and (max-width: 768px) {
  .section-hero {
    width: auto;
    max-width: 500px;
  }
}

.title {
  font-family: 'Merriweather', serif;
  font-weight: 700;
  line-height: var(--line-height-std);
}

.hero-title {
  font-size: var(--font-large);
}

@media screen and (max-width: 768px) {
  .hero-title {
    font-weight: 400;
  }
}


.title-container {
  width: 50%;
  padding-bottom: 60px;
  margin: 0 auto;
  overflow-x: hidden;
}

@media screen and (max-width: 768px) {
  .title-container {
    padding-bottom: 65px;
    width: calc(50% + 40px);
  }
}

.section-title {
  font-size: var(--font-medium);
  color: var(--color-gold);
}

@media screen and (max-width: 768px) {
  .section-title {
    line-height: 40px;
  }
}

.title-line {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title-line::before,
.title-line::after {
  content: '';
  border-top: 2px solid;
  margin: 0 20px 0 0;
  flex: 1 0 20px;
}

.title-line::after {
  margin: 0 0 0 20px;
}

.hero-text {
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 25px;
  font-size: var(--font-small);
  line-height: var(--line-height-std);
}

@media screen and (max-width: 768px) {
  .hero-text {
    max-width: 390px;
    padding: 20px 0px 60px;
    line-height: 24px;
  }
}

.button {
  width: 220px;
  height: 55px;
  font-size: var(--font-small);
  font-family: 'Inter', sans-serif;
  line-height: var(--line-height-std);
  text-align: center;
  cursor: pointer;
  transition: color 0.3s;
}

.button-gold {
  background: var(--color-gold);
  color: var(--color-black);
  border: 2px solid var(--color-gold);
}

.button-transparent {
  background: transparent;
  color: var(--color-gold);
  border: 2px solid var(--color-gold);
}

.button:hover {
  color: var(--color-white);
}

.section {
  padding-top: 100px;
}

@media screen and (max-width: 768px) {
  .section-skills {
    padding-bottom: 6px;
  }
}

.skills-items {
  display: flex;
  justify-content: center;
  column-gap: 40px;
  flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .skills-items {
    column-gap: 44px;
  }
}

.skill-item {
  width: 320px;
  padding: 100px 20px 10px 20px;
  background-position: center top;
  background-size: 62px 50px;
  background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {
  .skill-item {
    max-width: 300px;
    padding: 80px 10px 75px;
  }
}

.skill-item:nth-child(1) {
  background-image: url("../assets/svg/skills-camera.svg");
}
.skill-item:nth-child(2) {
  background-image: url("../assets/svg/skills-video.svg");
}
.skill-item:nth-child(3) {
  background-image: url("../assets/svg/skills-picture.svg");
}
.skill-item:nth-child(4) {
  background-image: url("../assets/svg/skills-mic.svg");
}

.skill-text {
  /* width: 280px; */
  /* padding-bottom: 10px; */
  /* margin: 0 auto; */
  text-align: center;
  font-size: 18px;
  line-height: var(--line-height-std);
  font-weight: 400;
}

@media screen and (max-width: 768px) {
  .skill-text {
    line-height: 22px;
  }
}

.skill-heading {
  font-size: var(--font-small);
  font-weight: 700;
  padding-bottom: 20px;
  line-height: 2.0;
}

.portfolio-btns {
  max-width: 895px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
  margin: 0 auto;
  padding-bottom: 60px;
}

@media screen and (max-width: 768px) {
  .portfolio-btns {
    padding-top: 5px;
  }
}

.portfolio-items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
}

@media screen and (max-width: 768px) {
  .portfolio-items > * {
    width: 100%;
    max-width: 450px;
  }
}

.video-player {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .video-player {
    padding-top: 5px;
  }
}

.video-img {
  max-width: 100%;
}

.video-img.tablet {
  display: none;
}

@media screen and (max-width: 768px) {
  .video-img {
    max-width: calc(100% + 120px);
  }
  .video-img.desktop {
    display: none;
  }
  .video-img.tablet {
    display: block;
  }
}

.video-button {
  position: absolute;
  width: 130px;
  height: 130px;
  background-image: url("../assets/svg/video-play.svg");
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  transition: 0.3s;
}

.video-button:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .video-button {
    width: 65px;
    height: 65px;
  }
}

.price-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* gap: 25px; */
  column-gap: 25px;
  row-gap: 50px;
  padding-bottom: 100px;
}

@media screen and (max-width: 768px) {
  .price-items {
    padding-top: 5px;
    padding-bottom: 80px;
  }
}

.price-item {
  width: 450px;
  padding: 40px;
  border: 3px solid var(--color-gold);
}

@media screen and (max-width: 768px) {
  .price-item {
    width: 100%;
    flex: 0 1 420px;
  }
}

.price-title {
  font-size: 28px;
  text-align: center;
  padding-bottom: 20px;
}

.price-dollars {
  font-size: 24px;
  text-align: center;
  color: var(--color-gold);
  padding-bottom: 20px;
}

.price-description {
  padding-bottom: 40px;
}

.price-description span {
  display: block;
  font-size: 18px;
  line-height: var(--line-height-std);
  text-align: center;
}

.price-button-container {
  display: flex;
  justify-content: center;
}

.contacts-container {
  height: 700px;
  display: flex;
  justify-content: flex-end;
  background: url("../assets/img/contacts-bg.jpg");
  background-size: auto 700px;
  background-position: center center;
}

@media screen and (max-width: 768px) {
  .contacts-container {
    height: 600px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-size: auto 600px;
  }
}

.section-contacts {
  padding-top: 60px;
  width: 450px;
}

@media screen and (max-width: 768px) {
  .section-contacts {
    width: 100%;
    max-width: 450px;
    flex: 0 1 450px;
  }
  .contacts-title {
    line-height: 2.0;
    text-align: center;
  }
}

.contacts-form {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

@media screen and (max-width: 768px) {
  .contacts-form {
    align-items: center;
  }
}

.contacts-form input,
.contacts-form textarea {
  width: 100%;
  padding: 3px 20px;
  border: 2px solid var(--color-gold);
  font: inherit;
  font-size: var(--font-small);
  line-height: var(--line-height-std);
  color: var(--color-gold);
  background-color: rgba(0, 0, 0, 0.5);
}

.contacts-form textarea {
  resize: none;
  padding-bottom: 13px;
  margin-bottom: 10px;
}

.contacts-form input::placeholder,
.contacts-form textarea::placeholder {
  font: inherit;
  color: var(--color-gold);
  font-size: var(--font-small);
  line-height: var(--line-height-std);
}

.footer-container {
  min-height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* gap: 20px; */
    padding-top: 27px;
    padding-bottom: 34px;
  }
}

.copyright {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: var(--font-small);
}

@media screen and (max-width: 768px) {
  .copyright {
    padding-bottom: 16px;
  }
}

.rss {
  padding-left: 18px;
}

@media screen and (max-width: 768px) {
  .rss {
    padding-left: 0;
    padding-bottom: 29px;
    text-align: center;
  }
}

.footer-link {
  color: var(--color-white);
  text-decoration: none;
  font-size: var(--font-small);
  line-height: 2.5;
  transition: all 0.3s;
}

.footer-link:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
    contrast(87%);
}

@media screen and (max-width: 768px) {
  .copyright {
    line-height: 24px;
  }
  .footer-link {
    line-height: 24px;
  }
}

.footer-list {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer-item {
  list-style: none;
}

.footer-item a {
  display: inline-block;
  min-width: 32px;
  min-height: 32px;
  background-position: center center;
  background-size: 32px 32px;
  background-repeat: no-repeat;
}

.footer-inst {
  background-image: url("../assets/svg/footer-inst.svg");
}

.footer-fb {
  background-image: url("../assets/svg/footer-facebook.svg");
}

.footer-twitter {
  background-image: url("../assets/svg/footer-twitter.svg");
}

.footer-pinterest {
  background-image: url("../assets/svg/footer-pinterest.svg");
}